# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
# Python virtual environments / libs
backend/env/
backend/venv/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Reports & Test artifacts
backend/app/data/reports/*.pdf
backend/*.pdf
*.pdf

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
frontend/build/
frontend/.dart_tool/

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.salive
.kotlin/
**/android/.kotlin/
